<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>The name of the Viper Module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Viper</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___FILEBASENAME___Contract.swift</string>
		<string>___FILEBASENAME___Router.swift</string>
		<string>___FILEBASENAME___ViewController.swift</string>
		<string>___FILEBASENAME___ViewController.xib</string>
		<string>___FILEBASENAME___Presenter.swift</string>
		<string>___FILEBASENAME___Interactor.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___FILEBASENAME___Contract.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___Contract.swift</string>
		</dict>
		<key>___FILEBASENAME___Router.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___Router.swift</string>
		</dict>
		<key>___FILEBASENAME___ViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___ViewController.swift</string>
		</dict>
		<key>___FILEBASENAME___ViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___ViewController.xib</string>
		</dict>
		<key>___FILEBASENAME___Presenter.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
				<string>Presenter</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___Presenter.swift</string>
		</dict>
		<key>___FILEBASENAME___Interactor.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
				<string>Interactor</string>
			</array>
			<key>Path</key>
			<string>___FILEBASENAME___Interactor.swift</string>
		</dict>
	</dict>
</dict>
</plist>
